.navbar {
    display: flex;
    background-color: aqua;
    justify-content: space-around;
    }      


ul#horizontal-list {
    list-style: none;
    font-size: 18px;
    color: #E5e7eb;
    }
    ul#horizontal-list li {
        display: inline;
        margin: 15px;
    }

.headerlogo {
    font-size: 24px;
    color: #f9FaF8;
}

.darkbg {
    background-color: #1F2937;
    color: #f9FaF8;
    width: auto;
    }

.about-bold {
    font-size: 48px;
    font-weight: bold;
    color: #f9FaF8;
}

.about-section {
    display: flex;
    justify-content: space-between;
    padding: 3% 8% 5% 8%;
}

.button {
    background-color: #3882F6;
    text-align: center;
    font-size: 28px;
    border-radius: 8px;
    border: none;
}

.button2 {
    background-color: #3882F6;
    text-align: center;
    font-size: 14px;
    border-radius: 8px;
    border: 2px solid white;
    color: white;
}

body {
    width: 100%;
    margin: auto;
}

.informationbold {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.informationflex {
    display: flex;
    justify-content: space-around;
}

img {
    border-radius: 3%;
}

p {
    margin-right: 35px;
}

.quotesection {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    display: flex;
}

blockquote {
    padding: 5%;
    text-align: center;
    margin: 5%;
}

.calltoaction {
    display: flex;
    justify-content: center;
    color: white
}

.calltoactioncenter {
    background-color: #3882F6;
    padding: 50px;
    margin: 10%;
    justify-content: space-between;
    display: flex;
    width: 60%;
}

.footer {
    justify-content: space-around;
    display: flex;
}

a {
    color: #e5e7eb;
}